PORT=3001
SECRET_KEY=generate-random-key-here
CLUSTER=devnet
ESCROW_PROGRAM_ID=8b866KXrU94jAEuZYNr8WTkuXJELPvu6eW1v89pSAUrN
DROPS_PROGRAM_ID=3i1KUa7S1FjRx34SzqRAKAYsp3S8AJkCB3x7odjua7kL
DEPLOYER_KEYPAIR=base64-encoded-keypair-array
